@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-6xl;
}
h2{
    @apply text-3xl;
}

.center-center{
    @apply flex justify-center items-center
}
.spacing{
    @apply px-5 py-3;
}
.btn{
    @apply px-10 py-3 rounded;
}
.btn-choice{
    @apply bg-blue text-3xl font-bold;
    box-shadow: 0px 9px #272727;

}

.btn-choice:active{
    box-shadow: 0 5px black;
    transform: translateY(4px);
    @apply bg-darkBlue;
}
